body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: black;
}

#main {
    background-color: darkslategray;
    width: 100vmin;
    height: 100vmin;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

.snake {
    background-color: yellowgreen;
    border-radius: 35%;
    border: .25vmin solid black;
}

.food {
    background-color: red;
    border: .25vmin solid black;
}